#recipe_container {
    background-color: white;
    max-width: 700px;
    width: 85%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 15px;
    padding: 25px;
}

#finish_image {
    margin: auto;
    display: flex;
    object-fit: cover;
    border-radius: 8px;
    max-width: 700px;
    max-height: 400px;
    width: 100%;
    aspect-ratio: 7/4;
}

#buttons_menu{
    margin-bottom: -10px;
    display: flex;
    gap: 10px;
}

.margin-0 {
    margin: 0;
}

.margin-right {
    margin-right: 10px;
}

.margin-left {
    margin-left: 10px;
}

table {
    width: 100%;
    table-layout: fixed;
}

.ingr_name_col {
    width: 80%;
}

.ingr_amount_col {
    width: 20%;
}

.info_field {
    background-color: var(--light-gray);
    border-radius: 4px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 600;
    margin-left: 5px;
    margin-right: 5px;
}

.ingredient_name {
    color: inherit;
    text-decoration: underline;
}

.ingredient_name:hover {
    cursor: pointer;
}

#ingredient_table td {
    padding-top: 5px;
    padding-bottom: 5px;
}

#dish_info {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* align-items: center; */
    justify-items: center;
}

.dish_info_block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dish_info_block>div>p {
    font-size: 1.1em;
    margin-left: 5px;
}

.dish_info_block>p {
    margin: 0;
    text-align: center;
}

/* .instruction {
    display: flex;
    flex-direction: column;
    gap: 10px;
}*/
#recipe_name {
    margin-bottom: 5px;
}

.inregient_amount {
    text-align: start;
    align-content: start;
}

.grey_text {
    color: gray;
    margin: 0;
}

.meal{
    margin-right: 10px;
}

.instruction_step {
    display: flex;
    gap: 10px;
}

.margin-top-40 {
    margin-top: 40px;
}

.underline {
    text-decoration: underline;
}

.link {
    color: inherit;
    margin: 17.6px;
    margin-left: 5px;
}

.clickable:hover {
    cursor: pointer;
}

.instruction_step>p {
    height: auto;
    text-align: start;
    resize: none;
    border-radius: 8px;
    width: 100%;
    font-size: 1.2em;
    padding: 8px;
    margin: 0;
    margin-top: -12px;
}

.instruction_step_header {
    display: flex;
    justify-content: space-between;
}

.instruction_step_image {
    object-fit: cover;
    height: 200px;
    width: 300px;
    aspect-ratio: 3/2;
    border-radius: 15px;
}

@media print {
    div {
        break-inside: avoid;
    }

    .pagebreak {
        page-break-before: always;
    }

    .print_hide{
        visibility: hidden;
        display: none;
    }

    .print_margin_top{
        margin-top: 35px;
        margin-bottom: 0px;
    }
}

@media screen and (max-width: 700px) {
    .instruction_step {
        display: flex;
        flex-direction: column;
    }

    .instruction_step_image {
        height: 100%;
        width: 100%;
    }

    .instruction_step>p {
        margin-top: 0px;
    }

    #dish_info {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .ingr_name_col {
        width: 70%;
    }

    .ingr_amount_col {
        width: 30%;
    }
}