#nav_container {
    position: sticky;
    top: 0;
    display: flex;
    height: 65px;
    box-shadow: 0 -15px 20px 10px rgba(0, 0, 0, .5);
    justify-content: flex-start;
    align-items: center;
    padding-left: 20px;
    gap: 10px;
    background-color: white;
    z-index: 30;
}

#mobile_nav_container {
    box-sizing: border-box;
    position: absolute;
    top: 65px;
    left: 0;
    background-color: var(--bg-color);
    width: 100%;
    height: calc(100vh - 65px);
    transition: all 0.02s ease-out;
}

.search_field {
    display: flex;
    margin: 0;
    height: 40px;
    padding: 10px;
}

.search_field>* {
    margin: 0;
    height: 100%;
}

.nav_button {
    background-color: transparent;
    font-size: large;
    text-decoration: none;
    color: black;
}

.nav_button:hover {
    background-color: transparent;
    color: var(--btn-nav-color);
}

#mobile_nav_container.width-0 {
    width: 0;
}

.hidden{
    display: none;
}

#mobile_nav_container .nav_button {
    display: flex;
    overflow: hidden;
    white-space: nowrap;
}

#mobile_nav_container.width-0 .nav_button{
    padding-left: 0;
    padding-right: 0;
    margin-left: 10px;
}

#mobile{
    display: none;
}

@media all and (max-width:700px) {
    #pc{
        display: none;
    }

    #mobile{
        display: block;
    }

    #nav_container{
        justify-content: space-between
    }

    #mainMenuButton{
        margin-right: calc(50% - 17.5px);
    }

    .search_field{
        display: none;
    }
    
}