#recipes_container {
    background-color: white;
    width: 85%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 15px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

#search_container h4 {
    margin-top: 10px;
    margin-bottom: 10px;
}

#show_more_button {
    border: none;
    background: none;
    align-self: flex-end;
    padding: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 0.9em;
    color: rgb(92, 0, 0);
}

#show_more_button:hover {
    cursor: pointer;
}

#search_container.height_0 {
    height: 0;
    overflow: hidden;
}

.search_field_recipe {
    display: flex;
    align-items: stretch;
    margin: 0;
    height: 40px;
    width: 100%;
}

.search_field_recipe>input {
    width: 100%;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 1em;
    border-radius: 8px;
    border-width: 1px;
    margin-right: 15px;
    border-color: gray;
    /* max-width: 250px; */
}

.search_field_recipe > button{
    background-color: var(--btn-alt-main-color);
}

.search_field_recipe > button:hover{
    background-color: var(--btn-alt-second-color);
}

.ingredient_select {
    width: 100%;
}

#search_container {
    display: flex;
    flex-direction: column;
    /* transition: all 0.2s ease-out; */
}

#recipes_grid {
    margin: 10px;
    display: grid;
    justify-items: center;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    row-gap: 20px;
    column-gap: 45px;
}

/*radio_groups*/
#search_container .radio_group {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    position: relative;
    margin-left: -5px;
}

#search_container .radio_group input {
    display: none;
    opacity: 0;
    width: 0;
    height: 0;
}

#search_container #reset_button {
    background: none;
    border: none;
    height: 20px;
    width: 20px;
}

#search_container #reset_button:hover {
    cursor: pointer;
}

/* difficult_radio */
#search_container #difficult_group>input+label {
    padding: 5px;
    color: lightgray;
    cursor: pointer;
}

#search_container #difficult_group>input:checked~label,
#search_container #difficult_group+label:hover~label,
#search_container #difficult_group+label:hover {
    color: gold;
}

#search_container #difficult_group:hover>input+label {
    color: lightgray;
}

#search_container #difficult_group:hover>input+label:hover~label,
#search_container #difficult_group:hover>input+label:hover {
    color: gold;
}

#search_container #difficult_group>label:hover {
    transform: scale(1.1);
}

/* hot_radio */

#search_container #hot_group>input+label {
    padding: 5px;
    color: lightgray;
    cursor: pointer;
}

#search_container #hot_group>input:checked~label,
#search_container #hot_group+label:hover~label,
#search_container #hot_group+label:hover {
    color: brown;
}

#search_container #hot_group:hover>input+label {
    color: lightgray;
}

#search_container #hot_group:hover>input+label:hover~label,
#search_container #hot_group:hover>input+label:hover {
    color: brown;
}

#search_container #hot_group>label:hover {
    transform: scale(1.1);
}

#difficult_selector,
#hot_selector,
#time_selector{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.margin_top{
    margin-top: 20px;
}

#search_block{
    display: flex;
    flex-direction: column;
}